@use "./styles/partials/variable" as *;
@use "./styles/partials/global";

.move {
    background-color: $light-gray;
    padding: 1rem 4rem 4rem 4rem;
    margin: auto;
    text-align: center;
    height: 100vh;

    &__title {
        margin: 1rem;
        font-family: "Lora";
        font-weight: 300;
    }
}

.table {
    color: $dark-gray;

    &__text {
        color: inherit;
    }

    &__header {
        color: inherit;
    }

    &__filter {
        & input {
            border-radius: 2px;
        }
        //remove default filter button
        & .p-column-filter-clear-button {
            display: none;
        }
    }

    &__director {
        font-size: 0.9rem;
        color: inherit;
        border-radius: 2px;
    }
}

.certification {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;

    &__ge {
        background-color: $light-green;
        color: green;
    }

    &__ca {
        background-color: $light-yellow;
        color: rgb(250, 192, 2);
    }

    &__14 {
        background-color: $light-pink;
        color: red;
    }
}
